.friendList {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.friendItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.online,
.offline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.friendItem img {
    margin-right: 10px;
}