.friendList {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

/* Карточка друга */
.friendItem {
    display: flex;
    flex-direction: column;
    /* Располагаем элементы вертикально */
    align-items: center;
    /* Выравниваем по центру */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100px;
    /* Ширину можно подкорректировать под макет */
    text-align: center;
}

/* Стили для аватара, если нужно */
.avatar {
    margin-bottom: 10px;
}

/* Имя друга */
.name {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}

/* Обёртка для статуса (кружок + текст) */
.statusWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Расстояние между кружком и текстом */
}


.online {
    background-color: green;
}

.offline {
    background-color: red;
}

/* Текст статуса */
.onlineText {
    color: green;
    margin: 0;
    font-weight: 500;
}

.offlineText {
    color: red;
    margin: 0;
    font-weight: 500;
}